<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova.plugin.zoomvideo" version="1.0.0">

    <name>Zoom Video SDK Plugin</name>
    <description>Plugin to integrate the Zoom Video SDK with Android and iOS</description>
    <author>Truewind</author>
    <license>Apache 2.0 License</license>

    <js-module name="ZoomVideo" src="www/ZoomVideo.js">
        <clobbers target="cordova.plugins.ZoomVideo" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ZoomVideo">
                <param name="android-package" value="cordova.plugin.zoomvideo.ZoomVideo" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
            <uses-permission android:name="android.permission.BROADCAST_STICKY" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.CALL_PHONE" />
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:name="cordova.plugin.zoomvideo.SessionActivity"
                android:supportsPictureInPicture="true"
                android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            </activity>
        </config-file>

        <resource-file src="src/android/res/drawable/ic_call_black_24dp.xml" target="res/drawable/ic_call_black_24dp.xml" />
        <resource-file src="src/android/res/drawable/ic_call_end_white_24px.xml" target="res/drawable/ic_call_end_white_24px.xml" />
        <resource-file src="src/android/res/drawable/ic_call_white_24px.xml" target="res/drawable/ic_call_white_24px.xml" />
        <resource-file src="src/android/res/drawable/ic_mic_green_24px.xml" target="res/drawable/ic_mic_green_24px.xml" />
        <resource-file src="src/android/res/drawable/ic_mic_off_red_24px.xml" target="res/drawable/ic_mic_off_red_24px.xml" />
        <resource-file src="src/android/res/drawable/ic_switch_camera_512dp.xml" target="res/drawable/ic_switch_camera_512dp.xml" />
        <resource-file src="src/android/res/drawable/ic_videocam_green_24px.xml" target="res/drawable/ic_videocam_green_24px.xml" />
        <resource-file src="src/android/res/drawable/ic_videocam_off_red_24px.xml" target="res/drawable/ic_videocam_off_red_24px.xml" />
        <resource-file src="src/android/res/drawable/ic_volume_down_green_24px.xml" target="res/drawable/ic_volume_down_green_24px.xml" />
        <resource-file src="src/android/res/drawable/bg_doctor_name_timer_layout.xml" target="res/drawable/bg_doctor_name_timer_layout.xml" />
        <resource-file src="src/android/res/drawable/bg_video_control_layout.xml" target="res/drawable/bg_video_control_layout.xml" />
        <resource-file src="src/android/res/drawable/icon_call_end.xml" target="res/drawable/icon_call_end.xml" />
        <resource-file src="src/android/res/drawable/icon_camera.xml" target="res/drawable/icon_camera.xml" />
        <resource-file src="src/android/res/drawable/icon_chat.xml" target="res/drawable/icon_chat.xml" />
        <resource-file src="src/android/res/drawable/icon_cross_camera.xml" target="res/drawable/icon_cross_camera.xml" />
        <resource-file src="src/android/res/drawable/icon_microphone.xml" target="res/drawable/icon_microphone.xml" />
        <resource-file src="src/android/res/drawable/icon_mute_cross.xml" target="res/drawable/icon_mute_cross.xml" />
        <resource-file src="src/android/res/drawable/icon_swtich_camera.xml" target="res/drawable/icon_swtich_camera.xml" />
        <resource-file src="src/android/res/drawable/ic_volume_off.xml" target="res/drawable/ic_volume_off.xml" />
        <resource-file src="src/android/res/drawable/ic_volume_on.xml" target="res/drawable/ic_volume_on.xml" />
        <resource-file src="src/android/res/drawable/ic_microphone_icon.xml" target="res/drawable/ic_microphone_icon.xml" />
        <resource-file src="src/android/res/drawable/ic_switch_camera_icon_circle_arrow.xml" target="res/drawable/ic_switch_camera_icon_circle_arrow.xml" />
        
        


        <resource-file src="src/android/res/layout/activity_video.xml" target="res/layout/activity_video.xml" />
        <resource-file src="src/android/res/layout/content_video.xml" target="res/layout/content_video.xml" />
        <resource-file src="src/android/res/layout/doctor_name_timer.xml" target="res/layout/doctor_name_timer.xml" />
        <resource-file src="src/android/res/layout/chat_popup_window.xml" target="res/layout/chat_popup_window.xml" />
        <resource-file src="src/android/res/layout/item_chat_message.xml" target="res/layout/item_chat_message.xml" />
        <resource-file src="src/android/res/layout/video_controls_layout.xml" target="res/layout/video_controls_layout.xml" />
      
        <resource-file src="src/android/res/values/twilio_colors.xml" target="res/values/twilio_colors.xml" />
        <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml" />
        <resource-file src="src/android/res/values/dimens.xml" target="res/values/dimens.xml" />
        <resource-file src="src/android/res/values/strings.xml" target="res/values/strings.xml" />
        <resource-file src="src/android/res/values/styles.xml" target="res/values/styles.xml" />
        <resource-file src="src/android/res/values/themes.xml" target="res/values/themes.xml" />
        

        <resource-file src="src/android/res/values-v21/styles.xml" target="res/values-v21/styles.xml" />
        <resource-file src="src/android/res/values-w820dp/dimens.xml" target="res/values-w820dp/dimens.xml" />

        <source-file src="src/android/SessionActivity.java" target-dir="src/cordova/plugin/zoomvideo" />
        <source-file src="src/android/ZoomVideo.java" target-dir="src/cordova/plugin/zoomvideo" />
        <source-file src="src/android/BottomSheetChat.java" target-dir="src/cordova/plugin/zoomvideo" />
        <source-file src="src/android/ChatAdapter.java" target-dir="src/cordova/plugin/zoomvideo" />
        <source-file src="src/android/ChatMessage.java" target-dir="src/cordova/plugin/zoomvideo" />
<!--        <source-file src="src/android/proguard-rules.pro" target-dir="" />-->
<!--        //-->
        
        
<!--        <hook type="before_plugin_uninstall" src="android_hooks/before_plugin_uninstall.js" />-->
        <hook type="after_plugin_install" src="android_hooks/after_plugin_install.js" />
        <framework src="android_hooks/zoomvideo.gradle" type="gradleReference" custom="true" />
    </platform>
    
    

    <platform name="ios">
        <source-file src="src/ios/ZoomVideo.swift"/>
        <source-file src="src/ios/VideoViewController.swift"/>
        <source-file src="src/ios/AppConstants.swift"/>
        <source-file src="src/ios/Bupa+Date.swift"/>
        <source-file src="src/ios/Bupa+View.swift"/>
        <source-file src="src/ios/BupaBaseVC.swift"/>
        <source-file src="src/ios/CallKitManager.swift"/>
        <source-file src="src/ios/ChatTableHandler.swift"/>
        <source-file src="src/ios/UIView+Extenstion.swift"/>
        <source-file src="src/ios/ZoomChatVC.swift"/>
        <source-file src="src/ios/ZoomView.swift"/>
        <source-file src="src/ios/ZoomChatCell.swift"/>
        <source-file src="src/ios/ConsulationMeetingVC.swift" />
        <source-file src="src/ios/SDKPiPHelper.swift" />
        <source-file src="src/ios/SDKPiPWindowView.swift" />
        <source-file src="src/ios/ZoomAlert.swift"/>
        <source-file src="src/ios/ZoomImagePickerControllerHelper.swift"/>
        <source-file src="src/ios/ActiveBuilder.swift"/>
        <source-file src="src/ios/ActiveLabel.swift"/>
        <source-file src="src/ios/ActiveType.swift"/>
        <source-file src="src/ios/RegexParser.swift"/>
        <source-file src="src/ios/StringTrimExtension.swift"/>
        <source-file src="src/ios/FilewPreviewVC.swift"/>
        <source-file src="src/ios/debounce.swift"/>
        <source-file src="src/ios/delay.swift"/>
        <source-file src="src/ios/throttle.swift"/>
        <source-file src="src/ios/Throttler.swift"/>
        <source-file src="src/ios/ScreenProtectorKit.swift"/>

        <config-file parent="ENABLE_BITCODE" target="build.xcconfig">
            <false/>
        </config-file>

        
        

        <preference name="CAMERA_USAGE_DESCRIPTION" default="Required to allow video call functionality" />
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="MICROFONE_USAGE_DESCRIPTION" default="Required to allow video call functionality" />
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>$MICROFONE_USAGE_DESCRIPTION</string>
        </config-file>

        <preference name="PHOTOLIB_USAGE_DESCRIPTION" default="Required to allow video call functionality" />
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>$PHOTOLIB_USAGE_DESCRIPTION</string>
        </config-file>
        
        <config-file target="*-Info.plist" parent="UIUserInterfaceStyle">
            <string>Light</string>
        </config-file>
        

        <preference name="BLUETOOTH_USAGE_DESCRIPTION" default="Required to allow video call functionality" />
        <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
            <string>$BLUETOOTH_USAGE_DESCRIPTION</string>
        </config-file>
        
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
                   <array>
                       <string>audio</string>
                       <string>voip</string>
                       <string>picture-in-picture</string>
                   </array>
               </config-file>
        
        <config-file target="*-Info.plist" parent="UIAppFonts">
                    <array>
                        <string>Montserrat-Black.ttf</string>
                        <string>Montserrat-BlackItalic.ttf</string>
                        <string>Montserrat-Bold.ttf</string>
                        <string>Montserrat-BoldItalic.ttf</string>
                        <string>Montserrat-ExtraBold.ttf</string>
                        <string>Montserrat-ExtraBoldItalic.ttf</string>
                        <string>Montserrat-ExtraLight.ttf</string>
                        <string>Montserrat-ExtraLightItalic.ttf</string>
                        <string>Montserrat-Italic.ttf</string>
                        <string>Montserrat-Light.ttf</string>
                        <string>Montserrat-LightItalic.ttf</string>
                        <string>Montserrat-Medium.ttf</string>
                        <string>Montserrat-MediumItalic.ttf</string>
                        <string>Montserrat-Regular.ttf</string>
                        <string>Montserrat-SemiBold.ttf</string>
                        <string>Montserrat-SemiBoldItalic.ttf</string>
                        <string>Montserrat-Thin.ttf</string>
                        <string>Montserrat-ThinItalic.ttf</string>
                    </array>
               </config-file>
        

        <config-file target="config.xml" parent="/*">
            
            
            <feature name="ZoomVideo">
                <param name="ios-package" value="ZoomVideo"/>
            </feature>
            <preference name="UseSwiftLanguageVersion" value="5.0" />
        </config-file>
        
        
        <dependency id="cordova-plugin-add-swift-support-arslan" url="https://github.com/arsallion313786/cordova-plugin-add-swift-support"  version="1.0.0" />
<!--        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>-->
        
       
        


        <framework src="src/ios/ZoomVideoSDK.xcframework" custom="true" embed="true"/>
        <framework src="src/ios/CptShare.xcframework" custom="true" embed="true" link="true"/>

        <resource-file src="src/ios/Resources/VideoCall.storyboard" target="Resources/VideoCall.storyboard" />
        <resource-file src="src/ios/Resources/ZoomChatCell.xib" target="Resources/ZoomChatCell.xib" />
        <resource-file src="src/ios/Resources/Consultation.storyboard" target="Resources/Consultation.storyboard" />
        <resource-file src="src/ios/Resources/end-call-ios-white-33px.png" target="Resources/end-call-ios-white-33px.png" />
        <resource-file src="src/ios/Resources/ic_end_call_114.png" target="Resources/ic_end_call_114.png" />
        <resource-file src="src/ios/Resources/ic_end_call_120.png" target="Resources/ic_end_call_120.png" />
        <resource-file src="src/ios/Resources/ic_mic_off_114.png" target="Resources/ic_mic_off_114.png" />
        <resource-file src="src/ios/Resources/ic_mic_on_114.png" target="Resources/ic_mic_on_114.png" />
        <resource-file src="src/ios/Resources/ic_switch_cam_114.png" target="Resources/ic_switch_cam_114.png" />
        <resource-file src="src/ios/Resources/ic_video_off_114.png" target="Resources/ic_video_off_114.png" />
        <resource-file src="src/ios/Resources/ic_video_on_114.png" target="Resources/ic_video_on_114.png" />
        <resource-file src="src/ios/Resources/icon_button_background.png" target="Resources/icon_button_background.png" />
        <resource-file src="src/ios/Resources/no-video-ios-white-33px.png" target="Resources/no-video-ios-white-33px.png" />
        <resource-file src="src/ios/Resources/no-mic-ios-white-33px.png" target="Resources/no-mic-ios-white-33px.png" />
        <resource-file src="src/ios/Resources/switch-camera-ios-white-33px.png" target="Resources/switch-camera-ios-white-33px.png" />
        <resource-file src="src/ios/Resources/call_drop_icon.png" target="Resources/call_drop_icon.png" />
        <resource-file src="src/ios/Resources/call_drop_icon@2x.png" target="Resources/call_drop_icon@2x.png" />
        <resource-file src="src/ios/Resources/call_drop_icon@3x.png" target="Resources/call_drop_icon@3x.png" />
        <resource-file src="src/ios/Resources/call_timer_green_icon.png" target="Resources/call_timer_green_icon.png" />
        <resource-file src="src/ios/Resources/call_timer_green_icon@2x.png" target="Resources/call_timer_green_icon@2x.png" />
        <resource-file src="src/ios/Resources/call_timer_green_icon@3x.png" target="Resources/call_timer_green_icon@3x.png" />
        
        
        <resource-file src="src/ios/Resources/switch_camera_icon.png" target="Resources/switch_camera_icon.png" />
        <resource-file src="src/ios/Resources/switch_camera_icon@2x.png" target="Resources/switch_camera_icon@2x.png" />
        <resource-file src="src/ios/Resources/switch_camera_icon@3x.png" target="Resources/switch_camera_icon@3x.png" />
        
        <resource-file src="src/ios/Resources/chat_icon.png" target="Resources/chat_icon.png" />
        <resource-file src="src/ios/Resources/chat_icon@2x.png" target="Resources/chat_icon@2x.png" />
        <resource-file src="src/ios/Resources/chat_icon@3x.png" target="Resources/chat_icon@3x.png" />
        <resource-file src="src/ios/Resources/default_avatar.png" target="Resources/default_avatar.png" />
        
        <resource-file src="src/ios/Resources/mic_enable_icon.png" target="Resources/mic_enable_icon.png" />
        <resource-file src="src/ios/Resources/mic_enable_icon@2x.png" target="Resources/mic_enable_icon@2x.png" />
        <resource-file src="src/ios/Resources/mic_enable_icon@3x.png" target="Resources/mic_enable_icon@3x.png" />
        
        <resource-file src="src/ios/Resources/mic_disable_icon.png" target="Resources/mic_disable_icon.png" />
        <resource-file src="src/ios/Resources/mic_disable_icon@2x.png" target="Resources/mic_disable_icon@2x.png" />
        <resource-file src="src/ios/Resources/mic_disable_icon@3x.png" target="Resources/mic_disable_icon@3x.png" />
        
        <resource-file src="src/ios/Resources/video_enable_icon.png" target="Resources/video_enable_icon.png" />
        <resource-file src="src/ios/Resources/video_enable_icon@2x.png" target="Resources/video_enable_icon@2x.png" />
        <resource-file src="src/ios/Resources/video_enable_icon@3x.png" target="Resources/video_enable_icon@3x.png" />
        
        
        <resource-file src="src/ios/Resources/camera_off_white.png" target="Resources/camera_off_white.png" />
        <resource-file src="src/ios/Resources/camera_off_white@2x.png" target="Resources/camera_off_white@2x.png" />
        <resource-file src="src/ios/Resources/camera_off_white@3x.png" target="Resources/camera_off_white@3x.png" />
        
        
        <resource-file src="src/ios/Resources/speaker_off.png" target="Resources/speaker_off.png" />
        <resource-file src="src/ios/Resources/speaker_off@2x.png" target="Resources/speaker_off@2x.png" />
        <resource-file src="src/ios/Resources/speaker_off@3x.png" target="Resources/speaker_off@3x.png" />
        
        
        <resource-file src="src/ios/Resources/speaker_on.png" target="Resources/speaker_on.png" />
        <resource-file src="src/ios/Resources/speaker_on@2x.png" target="Resources/speaker_on@2x.png" />
        <resource-file src="src/ios/Resources/speaker_on@3x.png" target="Resources/speaker_on@3x.png" />
        
        <resource-file src="src/ios/Resources/switch_camera_circle.png" target="Resources/switch_camera_circle.png" />
        <resource-file src="src/ios/Resources/switch_camera_circle@2x.png" target="Resources/switch_camera_circle@2x.png" />
        <resource-file src="src/ios/Resources/switch_camera_circle@3x.png" target="Resources/switch_camera_circle@3x.png" />
        
        
        <resource-file src="src/ios/Resources/head_phone_blue.png" target="Resources/head_phone_blue.png" />
        <resource-file src="src/ios/Resources/head_phone_blue@2x.png" target="Resources/head_phone_blue@2x.png" />
        <resource-file src="src/ios/Resources/head_phone_blue@3x.png" target="Resources/head_phone_blue@3x.png" />
        
        
        <resource-file src="src/ios/Resources/Montserrat-Black.ttf" target="Resources/Montserrat-Black.ttf" />
        <resource-file src="src/ios/Resources/Montserrat-BlackItalic.ttf" target="Resources/Montserrat-BlackItalic.ttf" />
        <resource-file src="src/ios/Resources/Montserrat-Bold.ttf" target="Resources/Montserrat-Bold.ttf" />
        <resource-file src="src/ios/Resources/Montserrat-BoldItalic.ttf" target="Resources/Montserrat-BoldItalic.ttf" />
        <resource-file src="src/ios/Resources/Montserrat-ExtraBold.ttf" target="Resources/Montserrat-ExtraBold.ttf" />
        <resource-file src="src/ios/Resources/Montserrat-ExtraBoldItalic.ttf" target="Resources/Montserrat-ExtraBoldItalic.ttf" />
        <resource-file src="src/ios/Resources/Montserrat-ExtraLight.ttf" target="Resources/Montserrat-ExtraLight.ttf" />
        <resource-file src="src/ios/Resources/Montserrat-ExtraLightItalic.ttf" target="Resources/Montserrat-ExtraLightItalic.ttf" />
        <resource-file src="src/ios/Resources/Montserrat-Italic.ttf" target="Resources/Montserrat-Italic.ttf" />
        <resource-file src="src/ios/Resources/Montserrat-Light.ttf" target="Resources/Montserrat-Light.ttf" />
        <resource-file src="src/ios/Resources/Montserrat-LightItalic.ttf" target="Resources/Montserrat-LightItalic.ttf" />
        <resource-file src="src/ios/Resources/Montserrat-Medium.ttf" target="Resources/Montserrat-Medium.ttf" />
        <resource-file src="src/ios/Resources/Montserrat-MediumItalic.ttf" target="Resources/Montserrat-MediumItalic.ttf" />
        <resource-file src="src/ios/Resources/Montserrat-Regular.ttf" target="Resources/Montserrat-Regular.ttf" />
        <resource-file src="src/ios/Resources/Montserrat-SemiBold.ttf" target="Resources/Montserrat-SemiBold.ttf" />
        <resource-file src="src/ios/Resources/Montserrat-SemiBoldItalic.ttf" target="Resources/Montserrat-SemiBoldItalic.ttf" />
        <resource-file src="src/ios/Resources/Montserrat-Thin.ttf" target="Resources/Montserrat-Thin.ttf" />
        <resource-file src="src/ios/Resources/Montserrat-ThinItalic.ttf" target="Resources/Montserrat-ThinItalic.ttf" />
    </platform>
</plugin>
